body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  scroll-behavior: smooth;
}

.logo {
  height: auto;
  width: auto;
  max-height: 20px;  
}


.header-bcgr {  
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.1)), url("/assets/img/peak.jpg");
  background-position: center;
  background-repeat: no-repeat;  
  background-size: cover;
  min-height: 100%;
}

.header-text {
  font-size: 64px !important;
}

.coming-soon {  
  width: 50%;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}



// @media only screen and (min-width: 601px) {


  
// }

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .header-bcgr {      
    min-height: 40%;
  }

  .header-text {
    font-size: x-large !important;
    display: flex;
  }

  .coming-soon {
    width: 100%;
  }
}

.w3-bar .w3-button {
  padding: 16px;
}

.padding-all {
  // padding:70px 16px !important;
}

.gradWtoG {
  background: linear-gradient(to bottom, #ffffff 0%, #bdc8f8 200%);
}

.gradWtoG2 {
  background: linear-gradient(to bottom, #ffffff 0%, #bdc8f8 100%);
}

.gradGtoW {
  background: linear-gradient(to top, #ffffff 0%, #bdc8f8 200%);
}

.divider {
  width: auto; 
  text-align: center;
  padding: 50px 50px !important;
}